:root {
    --redColor: #dc0a2d;
    --secundaryRedColor: #d65369;
    --headerHeight: 100px;
    --headerHalfHeight: calc(var(--headerHeight) / 2);
    --logoHeight: 70px;
}

* {
    padding: 0;
    margin: 0;
}

#pokeapp {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

header {
    height: var(--headerHeight);
    background-color: var(--redColor);
    display: flex;
    align-items: center;
    padding: 10px;
}
header img {
    height: var(--logoHeight);
}